<!DOCTYPE html>
<html lang="en">
  <head>

    <% include partials/header.ejs %>
	
  </head>

  <body>

    <% include partials/nav.ejs %>

<div class="container">
        <div class="headcompare">
          <h1>Comparison Grading</h1>
<table class="table table-bordered">
      <thead>
        <tr>
          <th>First image</th>
          <th>Second Image</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td class="resimg"><img src="<%= ejslink1 %>"</td>
          <td class="resimg"><img src="<%= ejslink2 %>"</td>
        </tr>
        <tr>
          <td colspan="2">
<%if (ejsmispers == 100.00) { %>
<h2>Both Images are Same!!!</h2>
<% } else{ %>  
<h2>Both Images are Different!!!</h2>
<% } %>

<div class="row">
  <div class="col-md-2"><span style="font-size:40px;">0%</span><br>Different</div>
  <div class="col-md-8" style="padding-top:37px;">
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= ejsmispers %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ejsmispers %>%;">
    <%= ejsmispers %>%    Match
  </div>
</div>

  </div>
  <div class="col-md-2"><span style="font-size:40px;">100%</span><br>Similar</div></div>
</div>


	</td>
        </tr>
        <tr>
          <td><h2>Width</h2><br><p>The difference in image width is<b> <%= ejsdimdiffwidth %> pixels</b><br>(image2 - image1)</p></td>
          <td><h2>Height</h2><br><p>The difference in image height is <b><%= ejsdimdiffheight %> pixels</b><br>(image2 - image1)</p></td>
        </tr>
      
      </tbody>
    </table>


        </div>
	


         
    </div> <!-- /container -->


   
	
	
    <% include partials/footer.ejs %>


  </body>
</html>

